<center><h1>Admin Dashboard View: Store Stats</h1></center>
<br>

<div class="alert alert-success" role="alert">
<center><h2>Current Number of Categories: <%= @category_count %></h2></center>
</div>

<div class="alert alert-info" role="alert">
<center><h2>Current Number of Unique Products: <%= @product_count %></h2></center>
</div>