<h1>About Us:</h1>

<p>
  Jungle book was originally started in 1999 as a means of selling miscellaneous fun and quirky objects. Over time, the site grew and grew to incorporate exponentially odder and more expensive items. From 'human feet shoes', to 'hotdog slicers', we've got it all! Today, we are recognized as the internet's premiere site for any and all interesting items - please take a gander and see what catches your eye!
</p>